<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControllerServlet</servlet-name>
        <servlet-class>dept.controller.LoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentControllerServlet</servlet-name>
        <servlet-class>dept.controller.StudentControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistrationControllerServlet</servlet-name>
        <servlet-class>dept.controller.StudentRegistrationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsControllerServlet</servlet-name>
        <servlet-class>dept.controller.StudentsControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRegistrationControllerServlet</servlet-name>
        <servlet-class>dept.controller.TeacherRegistrationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterTeamControllerServlet</servlet-name>
        <servlet-class>dept.controller.RegisterTeamControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTeamControllerServlet</servlet-name>
        <servlet-class>dept.controller.ViewTeamControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFilesControllerServlet</servlet-name>
        <servlet-class>dept.controller.UploadFilesControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAbstractControllerServlet</servlet-name>
        <servlet-class>dept.controller.UploadAbstractControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProjectControllerServlet</servlet-name>
        <servlet-class>dept.controller.ViewProjectControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileControllerServlet</servlet-name>
        <servlet-class>dept.controller.ViewProfileControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileControllerServlet</servlet-name>
        <servlet-class>dept.controller.UpdateProfileControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMemberControllerServlet</servlet-name>
        <servlet-class>dept.controller.RemoveMemberControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControllerServlet</servlet-name>
        <url-pattern>/LoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentControllerServlet</servlet-name>
        <url-pattern>/StudentControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistrationControllerServlet</servlet-name>
        <url-pattern>/StudentRegistrationControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsControllerServlet</servlet-name>
        <url-pattern>/StudentsControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherRegistrationControllerServlet</servlet-name>
        <url-pattern>/TeacherRegistrationControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterTeamControllerServlet</servlet-name>
        <url-pattern>/RegisterTeamControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTeamControllerServlet</servlet-name>
        <url-pattern>/ViewTeamControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFilesControllerServlet</servlet-name>
        <url-pattern>/UploadFilesControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAbstractControllerServlet</servlet-name>
        <url-pattern>/UploadAbstractControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProjectControllerServlet</servlet-name>
        <url-pattern>/ViewProjectControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileControllerServlet</servlet-name>
        <url-pattern>/ViewProfileControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileControllerServlet</servlet-name>
        <url-pattern>/UpdateProfileControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMemberControllerServlet</servlet-name>
        <url-pattern>/RemoveMemberControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
